@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root {
    --lt-green: #bcd5b2;
    --green: #78a178;
    --dk-green: #2d542d;
    --tan: #f2ddc1;
    --pink: #f59186;
    --another-pink: #fbc0bb;
    --lt-pink: #fbe8e3;

  }

body {
    background-color: var(--lt-green);
}

* {
    border-radius: 15px;
}

* p {
    font-family: "Roboto", sans-serif;
    color: var(--dk-green);
    line-height: 1.5;
    margin: 35px;
}

* a {
    color: var(--dk-green);
    text-decoration: none;
    line-height: 1.5;
}

* h1, h2 {
    font-family: "Merriweather", sans-serif;
    line-height: 0.25rem;
}

* a:hover, #title a:hover, .flip-card-back a:hover, .bio a:hover {
    color: var(--pink);
}

#particles-js {
	width: 100%;
    height: 1800px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
	z-index: -5;
}

  /* nav bar */
nav {
    top: 0;
    left: 0;
    z-index: 1;
	height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--green);
	margin: 2rem;
    font-family: "Merriweather";
    border-radius: 15px;
  }

nav, nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

#title, #title a {
    color: var(--another-pink);
    font-weight: bold;
    font-size: 20px;
}

/* bio */
.bio {
	max-width: 1000px;
	margin: auto;
	text-align: center;
	background-color: white;
	border: 5px solid white;
    border-radius: 15px;
}

.bio a {
    color: var(--green);
}

#name {
    color: var(--pink)
}

/* headers */
.header {
    width: 500px;
    margin: auto;
    text-align: center;
    background-color: var(--green);
    border: 15px solid var(--green);
    border-radius: 25px;
    color: white;
    align-items: center;
    padding: 0.5rem;
}

/* cards */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 350px;
    perspective: 1000px;
    margin: 1.5rem 1.5rem 3rem 1.5rem;
    display: flex;
}

.flip-card a {
    color: var(--another-pink);
}

#exp-card {
    margin: auto;
    display: block;
    height: 250px;
}

.flip-card-front img {
    width: 250px;
    height: 150px;
    padding: 1.3rem;
    border-radius: 30px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
}

#cs1, #cs2, #cs3  {
    background-color: var(--lt-pink);
}

#imd1, #imd2, #imd3 {
    background-color: var(--lt-pink);
}

#exp-card .flip-card-front {
    background-color: var(--another-pink);
}

.flip-card-front h2 {
    color: var(--dk-green);
}

.flip-card-front p {
    color: var(--green);
}

.flip-card-back {
    background-color: white;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flip-card-back p {
    color: var(--green);
}

.flip-card-back a {
    text-decoration: underline;
    color: var(--another-pink);
}


.container {
    display: grid;
    justify-content: center;
    align-content: center;
  
    gap: 6px;
    grid-auto-flow: column;
    margin-bottom: 2rem;
  }
