@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root {
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
	--margin: 3rem;
	--padding: 0.6rem;
	
	--lt-green: #bcd5b2;
    --green: #99a799;
    --dk-green: #2b412b;
    --tan: #f2ddc1;
    --pink: #e58c7e;
    --lt-pink: #fddbd2;

  }

body {
    background-color: var(--lt-green);
}

* p {
    font-family: "Roboto", sans-serif;
}

#particles-js {
	width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
		z-index: -5;
}

  /* nav bar */
nav {
    top: 0;
    left: 0;
    z-index: 1;
	height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--green);
	margin: var(--margin);
    font-family: "Merriweather";
  }

nav, nav a {
    color: white;
}

#title, #title a {
    color: var(--lt-pink);
    font-size: var(--bold-font);
    font-weight: bold;
}

nav a:hover, #title a:hover {
    color: var(--pink);
}

.bio {
	width: 76%;
	margin: auto;
	text-align: center;
	background-color: white;
	border: 20px solid white;
}

.bio p, a {
    color: var(--dk-green);
}

.bio a:hover {
    color: var(--pink);
}