@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root {
	--margin: 3rem;
	--padding: 0.75rem;
	
	--lt-green: #bcd5b2;
    --green: #839683;
    --dk-green: #325532;
    --tan: #f2ddc1;
    --pink: #f59186;
    --another-pink: #ffd0d0;
    --lt-pink: #ffebe4;

  }

body {
    background-color: var(--lt-green);
}

* p {
    font-family: "Roboto", sans-serif;
}

* h1, h2, h3 {
    font-family: "Merriweather", sans-serif;
}

#particles-js {
	width: 100%;
        height: 1700px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
		z-index: -5;
}

  /* nav bar */
nav {
    top: 0;
    left: 0;
    z-index: 1;
	height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--green);
	margin: var(--margin);
    font-family: "Merriweather";
    border-radius: 15px;
  }

nav, nav a {
    color: white;
    font-size: 20px;
}

#title, #title a {
    color: var(--another-pink);
    font-weight: bold;
    font-size: 20px;
}

nav a:hover, #title a:hover {
    color: var(--pink);
}

/* bio */
.bio {
	width: 70%;
	margin: auto;
	text-align: center;
	background-color: white;
	border: 20px solid white;
    border-radius: 15px;
}

.bio p, a {
    color: var(--dk-green);
}

.bio a:hover, #name:hover {
    color: var(--pink);
}

.bio-link  {
    text-decoration: none;
}


#name {
    color: var(--pink)
}

/* headers */
.header {
    width: 35%;
    margin: auto;
    text-align: center;
    background-color: var(--green);
    border: 15px solid var(--green);
    border-radius: 25px;
    color: white;
}

/* cards */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 320px;
    perspective: 1000px;
    margin-bottom: 3rem;
}

#abt-card-1, #abt-card-2, #abt-card-3 {
    height: 150px;
}

.flip-card-front img {
    width: 240px;
    height: 180px;
    padding: 0.8rem;
    border-radius: 25px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
}

#cs1, #cs2, #cs3, #imd1, #imd2, #imd3 {
    background-color: var(--lt-pink);
}

#abt-card-1 .flip-card-front, #abt-card-2 .flip-card-front, #abt-card-3 .flip-card-front {
    background-color: var(--another-pink);
}

.flip-card-front h2 {
    color: var(--dk-green);
}

.flip-card-front p {
    color: var(--green);
}

.flip-card-back {
    background-color: white;
    transform: rotateY(180deg);
}

.flip-card-back p {
    margin: 2rem;
    color: var(--dk-green);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem;
    justify-items: center;
}

.thumbnails {
	width: 90%;
	margin: auto;
	text-align: center;
	background-color: var(--lt-green);
}