.Contact {
    margin-top: 5%;
    width: 40%;
}
    .Contact img {
      filter: invert(100%);
      opacity: 0.4;
      height: 3vw;
      width: 3vw;
      border-radius: 50%;
      margin: 10% 5% 5% 0%;
    }

    .Contact img:hover {
      opacity: 1;
    }

    @media only screen and (max-width: 700px) {
        .Contact img {
            height: 7vw;
            width: 7vw;
        }
    }


  