.Contact {
    margin-top: 5%;
    width: 20%;
}
    .Contact img {
      filter: invert(100%);
      opacity: 0.4;
      height: 15%;
      width: 15%;
      border-radius: 50%;
      margin: 8%;
    }

    .Contact img:hover {
      opacity: 1;
    }

    @media only screen and (max-width: 800px) {
        .Contact img {
            height: 7vw;
            width: 7vw;
        }

        .Contact {
          width: 70%;
        }
    }


  