.Contact {
    margin: 2% 45% 2% 45%;
    width: 20%;
}
    .Contact img {
      filter: invert(100%);
      opacity: 0.4;
      height: 3vw;
      width: 3vw;
      border-radius: 50%;
      margin: 5% 5% 5% 0%;
    }

    .Contact img:hover {
      opacity: 1;
    }
  