@import './Global.css';

#experience-section {
    border-top: 1px var(--text) solid;
}

#job-content {
    display: flex;
}

#job-sidebar {
    flex: 1;
    border-right: 1px var(--detail2) solid;
}

#job-info {
    flex: 4;
    margin-left: 5%;
    padding: 0px;
}

#sidebar-company {
    font-family: "Courier Prime", monospace;
    color: var(--text);
    margin-bottom: 10%;
    font-weight: 700;
}

#sub-item {
    margin-bottom: 2%;
    padding-bottom: 2%;
}

.sub-item-border {
    border-bottom: 1px var(--detail2) solid;
}

span {
    font-family: "Courier Prime", monospace;
    font-size: 4vh;
    font-weight: 700;
}

#job-desc {
    margin-top: 2%;
}

li, p {
    margin-top: 0%;
    margin-bottom: 1%;
}

a {
    font-weight: 700;
}

#role {
    color: var(--header);
}

#company {
    color: var(--accent);
}

.not-selected:hover {
    color: var(--header);
}

.job-component {
    padding: 2%;
}

.selected {
    color: var(--accent);
}

@media only screen and (max-width: 700px) {
    #title span {
      font-size: 3.5vw;
    }

    li {
        font-size: 3vw;
    }

    #job-info {
        border-top: 1px var(--text) solid;
    }

    #job-content {
        display: block;
    }

    #job-sidebar {
        border-right: none;
        margin-left: 2%;
        padding-bottom: 5%;
    }

    #sidebar-company {
        margin-bottom: 0%;
    }

    #job-info {
        padding-top: 7%;
    }
  }