@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

:root {
  --background: #252e7c;
  --text: #9196be;
  --header: #dee;
  --accent: #a3e8e5;
}

p {
  font-size: 3vh;
}

body {
    background-color: var(--background);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

.section {
  padding: 10%;
  margin: 1% auto 5% auto;
}

.section-title {
  font-weight: 700;
  border: red 2px solid;
}
