@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

:root {
  --purple: #454d95;
  --light-purple: #545ca6;
  --lightest-purple: #6670b7;
  --slate: #7e83b0;
  --light-slate: #9e9dd3;
  --lightest-slate: #c3c3e1;
  --white: #e2e2f4;
  --aqua: #a3e8e5;
}

body {
    background-color: var(--purple);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }