@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

:root {
  --background: #2e3784;
  --text: #7d83b1;
  --header: #dee;
  --accent: #8ae4e0;
  --detail: #454d96;
}

p, a {
  font-size: 3vh;
  color: var(--text);
}

body {
    background-color: var(--background);
    font-weight: 400;
    font-family: "Outfit", sans-serif;
}

h1, h2, h3 {
  font-family: "Courier Prime", monospace;
  color: var(--header);
}

.section {
  margin: 10%;
}

.section-title {
  font-weight: 700;
  color: var(--accent);
  font-size: 6vh;
  font-family: "Courier Prime", monospace;
}
