@import './Global.css';

#home {
  h1 {
    font-size: 12vh;
    color: var(--accent);
    margin: 0vw;
  }
  
  p {
    color: var(--text);
  }
}

#home-header {
  animation: slide-in 2s;
  font-family: "Courier Prime", monospace;
}

#home-content {
  animation: slide-in2 4s;
  
}
  
.buttons {
  margin-top: 5%;
}

.button {
  margin-top: 2%;
}

.button a {
  color: var(--header);
  font-family: "Courier Prime", monospace;
}

.button a:hover {
  color: var(--accent);
}
  
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in2 {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0%);
  }
}
    


