@import './Global.css';

#home {
  display: flex;
  height: 90vh;
}

#home-left {
  flex: 1.5;
}

#home-right {
  flex: 1;
}

#home h1 {
  font-size: 12vh;
  color: var(--accent);
  margin: 0vw;
}

#home-header {
  animation: slide-in 2s;
  font-family: "Courier Prime", monospace;

  p {
    color: var(--header);
    font-size: 4vh;
  }
}

#home-content {
  animation: slide-in2 4s;
  
}

#intro {
  color: var(--text);
}
  
#buttons {
  margin-top: 5%;
}

#button {
  margin-top: 2%;
}

#button a {
  color: var(--header);
  font-family: "Courier Prime", monospace;
}

#button a:hover {
  color: var(--accent);
}

#pfp {
  height: 90%;
  width: 100%;
  margin: 0px;
}
  
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in2 {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0%);
  }
}
    


