@import './Global.css';

#home {
  height: 80vh;
  display: flex;
}

#home-left {
  flex: 2;
  padding-right: 5%;
}

#home-right {
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#home h1 {
  font-size: 12vh;
  color: var(--accent);
  margin: 0vw;
}

#home-header {
  animation: slide-in 1s;
  font-family: "Courier Prime", monospace;
}

#home-header p {
  color: var(--header);
  font-size: 4vh;
}

#home-content {
  animation: slide-in2 2s;
  
}

#intro {
  color: var(--text);
}

#intro li {
  font-size: 3vh;
}
  
#buttons {
  margin-top: 5%;
}

#button {
  margin-top: 2%;
}

#button a {
  font-size: 3vh;
  color: var(--header);
  font-family: "Courier Prime", monospace;
}

#button a:hover {
  color: var(--accent);
}

#pfp {
  width: 100%;
  height: auto;
}
  
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 800px) {
  #home {
    display: grid;
    height: 90vh;
    text-align: center;
  }

  #home-left {
    height: 60vh;
  }

  #home-right {
    width: 100%;
  }

  #home-header p {
    font-size: 3vh;
  }

  #pfp {
    height: 30vh;
    width: auto;
  }

  #home h1 {
    font-size: 10vh;
  }
}
    


