@import './Global.css';

#project-section {
  border-top: 1px var(--text) solid;
    top: 1vh;
    display: flex;
    flex-direction: column;
}

#projects-content {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 40px;
    margin: 20px;
  }
  
  @media only screen and (max-width: 1000px) {
    #projects-content {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }


  h2 { 
    font-size: 30px;
    margin: 0px;
    padding: 0px;
  }

  #category {
    margin-top: 0px;
  }

  #category, #category a {
    font-weight: 400;
  }
  
  #proj-intro {
    font-weight: 400;
    margin-left: 2%;
    color: var(--header);
  }
  
  #tech {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    justify-content: center;
    padding: 5px 2px 0px 2px;
  }
  
  label {
    border-radius: 4px;
    margin: 3px;
    padding: 3px 10px 3px 10px;
    font-family: "Outfit", sans-serif;
    border: 1px var(--text) solid;
    color: var(--text);
    font-weight: 400;
  }
  
  .card {
      height: 400px;
      position: relative;
      cursor: pointer;
      perspective: 1000px;
    }
  
  .card-front:hover, .card-back:hover {
    background-color: var(--detail2);
  }
    
    .card-front, .card-back {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      transition: transform 0.5s;
      justify-content: center;
      align-items: center;
      background-color: var(--detail);
      border-radius: 10px;
      padding: 10px;
    }
  
    .card-front {
      text-align: center;
  
      h2 {
        margin-top: 5px;
      }

      a:hover {
        color: var(--header);
      }
    }
    
    .card-back {
      transform: rotateY(180deg);
      font-family: "Outfit", sans-serif;
      font-weight: 400;
    }
    
    .flipped .card-front {
      transform: rotateY(180deg);
    }
    
    .flipped .card-back {
      transform: rotateY(360deg);
    }
  
  img {
      width: 85%;
      height: 50%;
      border-radius: 5px;
      margin: 2%;
    }

