@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

:root {
  --col1: #a3e8e5;
  --col2: #c3c9f3;
  --col3: #B9BBDF;
  --col4: #878ECD;
  --col5: #5c64b1;
  --col6: #3e468f;
}

body {
  background-color: var(--col5);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.navbar {
  height: 10vh;
}

.Home {
  background-color: var(--col5);
  text-align: left;
  height: 80vh;
  padding: 5% 10% 5% 10%;
}

.Home h1 {
  font-size: 12vh;
  background: -webkit-linear-gradient(-45deg, var(--col1), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Home h2 {
  color: white;
  font-size: 4vh;
  margin-bottom: 10vh;
}

.Home p {
  color: var(--col2);
  font-size: 3vh;
}

.home-button {
  color: var(--col3);
    border: var(--col3) solid 3px;
    padding: 2vh 10vw 2vh 10vw;
    width: 70%;
    margin: 10% 5% 0% 0%;
    text-align: center;
    text-decoration: none;
}

.home-button:hover {
  color: white;
  border-color: white;
}

.section {
  background-color: var(--col4);
    width: 80vw;
    top: 1vh;
    margin: 5% auto 5% auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: white solid 1px;
}

.section span {
  background-color: white;
    color: var(--col5);
    border-radius: 10px 10px 0px 0px;
    font-weight: 700;
    text-align: center;
    padding: 3px;
    font-size: 25px;
}

.section p {
  margin: 2%;
    color: white;
    font-family: "Inconsolata", monospace;
    font-weight: 500;
}


